<mat-toolbar>
  <button
    mat-icon-button
    aria-label="Seat-code toolbar with menu icon"
    routerLink="/"
    routerLinkActive="active-link">
    <mat-icon color="primary">directions_car</mat-icon>
  </button>
  <div class="app-name">
    <span>Seat code</span>
    <span class="slogan">Booking</span>
  </div>
  <a mat-button routerLink="/" routerLinkActive [routerLinkActiveOptions]="{exact: true}"
     #rla="routerLinkActive" [color]="rla.isActive ? 'primary' : undefined">Home</a>
  <a mat-button routerLink="/dashboard" routerLinkActive [routerLinkActiveOptions]="{exact: true}"
     #das="routerLinkActive" [color]="das.isActive ? 'primary' : undefined">Dashboard</a>
</mat-toolbar>
