<div class="app-maps" *ngIf="apiLoaded | async">
  <google-map
    [zoom]="zoom"
    [options]="options"
    [center]="centerPoint"
    (mapClick)="infoWindow.close()"
    height="100%"
    width="100%"
  >
    <map-marker
      #marker="mapMarker"
      *ngFor="let mapMarker of markers"
      [options]="markerOptions"
      [position]="mapMarker.coordinates" [title]="mapMarker.title"
      [icon]="mapIcon(mapMarker.data.type)"
      (mapClick)="openInfoWindow(marker, mapMarker)"></map-marker>
    <map-info-window>
      <app-map-info-window [item]="itemMarker"></app-map-info-window>
    </map-info-window>
  </google-map>
</div>
