.details-container {
  display: flex;
  flex-direction: row;
  gap: 15px;

  img {
    max-height: 160px;
  }

  .content {
    flex-grow: 1;
  }
}

mat-divider {
  margin-top: 20px;
  margin-bottom: 30px;
}
