@use '@angular/material' as mat;

$red-palette: mat.define-palette(mat.$red-palette);

.map-card {
  width: 400px;
  box-shadow: none;

  .map-img {
    text-align: center;
  }
}

.not-available {
  color: mat.get-color-from-palette($red-palette);
  font-size: 15px;
}

