<mat-card class="map-card" *ngIf="item?.title">
  <mat-card-header>
    <mat-card-title>{{ item.title }}</mat-card-title>
  </mat-card-header>
  <div class="map-img">
    <img mat-card-image [src]="item.data.image" [alt]="item.title" [width]="280" [height]="157">
  </div>
  <mat-card-content>
    <p>
      {{ item.data.description }}
    </p>
    <mat-chip-listbox>
      <mat-chip-option color="warn" selected="false" selectable="false">Seats: <strong>{{item.data.seats}}</strong></mat-chip-option>
      <mat-chip-option color="accent" selected selectable="false">{{item.data.price}}€/day</mat-chip-option>
    </mat-chip-listbox>
  </mat-card-content>
  <mat-card-actions align="end">
    <span class="not-available" *ngIf="bookingInfo && !!bookingInfo.id">Vehicle not available</span>
    <button mat-flat-button color="primary" *ngIf="bookingInfo && !bookingInfo.id" (click)="openModal()">Book</button>
  </mat-card-actions>
</mat-card>
