table {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

mat-form-field {
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.td-actions {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: end;
}
